{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">  
                <h5> PART A  </h5> 
            </div>
            <div class="ibox-title"> 
                <h5>
                    <small>아래 질문들은 당신의 학습행동과 참여 선호도를 나타내도록 만들어져 있습니다. 어떤 항목이 가장 본인과 비슷합니까? 본인과 가장 비슷한 항목에 "4"를 기입하고 가장 비슷하지 않은 항목에 "1" 을 기입하십시오. 나머지 항목에는 "2", "3" 을 기입하십시오. 4개의 모든 숫자를 한번씩만 기입해 주십시오</small>
                </h5>
            </div>
            <div class="ibox-content">
                <form method="post" class="form-horizontal"> 
                    
                    {% for exam in examples %} 
                    <!--시작 -->
                    <div class="hr-line-dashed"></div>
                    <div class="form-group"> 
                        <label class="col-sm-2 control-label"><small> {{exam[1]}} </small></label>
                        <div class="input-group">
                            {% for choice in choices %}
                            {% if exam[0] == choice[0] %}
                            <input type="text" class="form-control" value="{{choice[2]}}" hidden="{{choice[4]}}"> 
                            <div>
                                 <input type="text" name="{{choice[3]}}" class="form-control" hidden="{{choice[4]}}" > 
                            </div> 
                            {% endif %}
                            {% endfor %}
                        </div> 
                    </div>
                    <div class="hr-line-dashed"></div>
                    <!-- 끝 -->  
                    {% endfor %}

                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white" type="submit">Cancel</button> 
                            <button class="btn btn-primary" type="submit">Save</button> 
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
